* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(coins.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgba(249, 247, 247, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: 1px white solid;
  border-radius: 3%;
  margin-top: 10vh;
  height: 60vh;
  width: 45vw;
  backdrop-filter: blur(1.5px);
}

.title {
  margin-bottom: 3rem;
}

.input-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 15vh;
  border-radius: 0.5rem;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 1rem;
}

.result {
  outline: none;
  height: 2.5rem;
  border: 1px solid rgb(218, 214, 214);
  width: 15rem;
  border-radius: 0.7rem;
  padding-left: 1rem;
  line-height: 2.5rem;
}

.btn {
  margin-top: 3rem;
  height: 4rem;
  width: 100%;
}

.btn button {
  height: 100%;
  width: 100%;
  color: rgb(217, 214, 214);
  background-color: blue;
  margin-left: auto;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: none;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  font-size: 1.2rem;
  color: rgb(48, 48, 48);
}


.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container img {
  height: 2rem;
}

select {
  outline: none;
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 0.7rem;
  margin-left: auto;
  padding-left: 0.5rem;
  cursor: pointer;
}